In [1]:
print('Hello')

Hello

In [2]:
1+1

2

**Hello**

In [6]:
1+1

2

In [9]:
2+30

32

In [1]:
x=3

In [2]:
x

3

In [4]:
var12=3

In [6]:
x=x*var12

In [7]:
x

9

In [8]:
x=x*var12

In [9]:
x

27

In [10]:
'a'

'a'

In [11]:
"a"

'a'

In [12]:
"'a'"

"'a'"

In [16]:
"i can't go"

"i can't go"

In [18]:
num=12
name="charan"

In [19]:
num*name

'charancharancharancharancharancharancharancharancharancharancharancharan'

In [21]:
"My Name is '{}' and age is {}".format(name,num)

"My Name is 'charan' and age is 12"

In [26]:
a='abcdefghijklmno'

In [29]:
a[:5]

'abcde'

In [32]:
nest=[1,2,[3,4]]

In [33]:
nest

[1, 2, [3, 4]]

In [38]:
nest[2][0]

3

In [43]:
d={'a':'b','c':'d','3':[1,2,33]}

In [46]:
d['3'][0]

1

In [47]:
my_list = [1,2,3]

In [50]:
my_list[0]='NEW'

In [51]:
my_list

['NEW', 2, 3]

In [52]:
t=(1,2,3)

In [53]:
t

(1, 2, 3)

In [54]:
t[0]

1

In [55]:
t[0]='1'

TypeError: 'tuple' object does not support item assignment

In [56]:
{1,2,3}

{1, 2, 3}

In [57]:
{1,2,3,2,3,1,4}

{1, 2, 3, 4}

In [58]:
set([1,2,1,2,1,2,3])

{1, 2, 3}

In [92]:
s={1,2,3}

In [90]:
s.add(5)

In [93]:
s

{1, 2, 3}

In [94]:
s

{1, 2, 3}

In [95]:
1<2

True

In [96]:
1>2

False

In [97]:
1==1

True

In [98]:
1=1

SyntaxError: can't assign to literal (<ipython-input-98-c59fb5224dc0>, line 1)

In [99]:
1==2

False

In [100]:
1===3

SyntaxError: invalid syntax (<ipython-input-100-f2f1cbfedebb>, line 1)

In [101]:
v===3

SyntaxError: invalid syntax (<ipython-input-101-6d6c99eae412>, line 1)

In [102]:
v==3

NameError: name 'v' is not defined

In [103]:
'hi'!='bye'

True

In [105]:
'hi'=='hi'

True

In [107]:
if 1<2:
    print('Truuuuu')

Truuuuu

In [108]:
if 1==2:
    print('first')
else:
    print('Seocnd')

Seocnd

In [118]:
seq=[0,5,2,3,4,5]

In [122]:
for item in seq:
    print(item)

0
5
2
3
4
5

In [123]:
for item in seq:
    print(seq[item])

0
5
2
3
4
5

In [139]:
i=1

In [140]:
print('now i is {}'.format(i))
while i<40:
    print('i is {}'.format(i))
    i+=1

now i is 1
i is 1
i is 2
i is 3
i is 4
i is 5
i is 6
i is 7
i is 8
i is 9
i is 10
i is 11
i is 12
i is 13
i is 14
i is 15
i is 16
i is 17
i is 18
i is 19
i is 20
i is 21
i is 22
i is 23
i is 24
i is 25
i is 26
i is 27
i is 28
i is 29
i is 30
i is 31
i is 32
i is 33
i is 34
i is 35
i is 36
i is 37
i is 38
i is 39

In [141]:
a=[1,2,34,5,6,7,89,0,11]

In [142]:
mylist=range(2,5)

In [147]:
range(0,5)

range(0, 5)

In [150]:
list(range(3,5))

[3, 4]

In [151]:
a=[1,2,3,4,5,6]

In [152]:
out=[]

In [153]:
for num in a:
    out.append(num**3)

In [154]:
out

[1, 8, 27, 64, 125, 216]

In [155]:
[num**4 for num in a]

[1, 16, 81, 256, 625, 1296]

In [156]:
o=[num**4 for num in a]

In [157]:
o

[1, 16, 81, 256, 625, 1296]

In [161]:
def my(param):
    print('Name : '+param)

In [162]:
my("ch")

Name : ch

In [163]:
my

In [164]:
 def sq(n):
        """fdfaf
        fafadfd
        fadfda
        """
        return(n**2)

In [165]:
print(sq(3))

9

In [166]:
numpy

NameError: name 'numpy' is not defined

In [170]:
def cube(n):
    return n**3

In [171]:
print(cube(4))

64

In [169]:
a=[2,3,4,5]

In [173]:
list(map(cube,a))

[8, 27, 64, 125]

In [174]:
a/2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [175]:
2/1

2.0

In [184]:
[1,2,3]

[1, 2, 3]

# Lambda

In [183]:
t = lambda a:a**4

In [180]:
t(2)

16

In [181]:
list(map(lambda num:num**5,a))

[32, 243, 1024, 3125]

# Filter
```
Init signature: filter(self, /, *args, **kwargs)
Docstring:     
filter(function or None, iterable) --> filter object

Return an iterator yielding those items of iterable for which function(item)
is true. If function is None, return the items that are true.
Type:           type
Subclasses:     ```

In [189]:
a=[2,3,4,5]

In [188]:
filter(lambda n:n%2,a)

In [194]:
list(filter(lambda n:n%2,a))

[3, 5]

# String Fucntions

In [190]:
s= 'My Name is Charan'

In [193]:
s.lower()

'my name is charan'

In [195]:
s.split()

['My', 'Name', 'is', 'Charan']

In [199]:
tweet = 'Hey GoodMorning #charan #Kiran'

In [200]:
tweet.split('#')

['Hey GoodMorning ', 'charan ', 'Kiran']

In [204]:
tweet.split('#')[2]

'Kiran'

# Dictionary

In [205]:
d={'k1':1,'k2':2}

In [206]:
d.keys()

dict_keys(['k1', 'k2'])

In [207]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [208]:
d.values()

dict_values([1, 2])

In [216]:
lst=[0,2,4]

In [217]:
lst.pop()

4

In [218]:
lst

[0, 2]

In [219]:
lst.insert(2,3)

In [224]:
lst

[0, 2, 3]

In [227]:
4 in lst

False

In [228]:
2 in lst

True

# list and tupples

In [231]:
s = [(1,2),(3,4),(5,6)] # List of Tupples

In [232]:
s

[(1, 2), (3, 4), (5, 6)]

In [233]:
for item in s:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [235]:
for (a,b) in s:   # Tupple UnPacking
    print(a)

1
3
5